{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

    <h6 class="layout_test">Home page</h6>

    <div class="container compressable">

        <div class = "twothirds front_img">
            <div class="container compressable">
                <h2 class="front_page_img">this will be where the image is for the front page</h2>
            </div>
        </div>

        <div class ="third replace_later">
            <div class="container compressable">
                <h3 class="idontknow">i forgot what his will be</h3>
            </div>
        </div>

    </div>
    
    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
